<launch>
  <arg name="map_file" default="$(find robot_nav_navigation)/maps/lab_map.yaml" />

  <param name="/use_sim_time" value="true" />

  <!-- Stable navigation: map_server + AMCL + move_base + RViz -->
  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
    <arg name="map_file" value="$(arg map_file)" />
  </include>
</launch>
