<launch>
  <node pkg="gazebo_ros"
        type="spawn_model"
        name="spawn_dynamic_box"
        args="-sdf -file $(find robot_nav_gazebo)/models/dynamic_box/model.sdf -model dynamic_box -x 1.5 -y 0.0 -z 0.3"
        output="screen" />

  <node pkg="robot_nav_gazebo"
        type="moving_obstacle.py"
        name="moving_obstacle_node"
        output="screen" />
</launch>
